{% extends 'app/base.html' %}
{% load static %}

{% block home %}

<!-- Banner slide-->

<div id="carouselMultiItemExample" class="carousel slide carousel-dark text-center" data-mdb-ride="carousel">
  <!-- Inner -->
  <div class="carousel-inner py-4">
    {% for music in musics %}
    {% if forloop.counter0|divisibleby:3 %}
    <div class="carousel-item {% if forloop.first %}active{% endif %}">
      <div class="container">
        <div class="row">
    {% endif %}
          <!-- Single card -->
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="card">
              <img src="{{ music.imageURL }}" class="card-img-top" alt="{{ music.name }}"/>
              <div class="card-body">
                <h5 class="card-title">{{ music.name }}</h5>
                <p class="card-text text-truncate" data-full-text="{{ music.about }}">
                  {{ music.about|truncatechars:100 }}
                </p>
                <button class="btn btn-info btn-sm toggle-text">Phát nhạc</button>
              </div>
            </div>
          </div>
    {% if forloop.counter0|add:1|divisibleby:3 or forloop.last %}
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>


<!-- Đây là thanh music bar -->
<div class="music-bar">
    <div class="song-info">
        <h2 id="song-title">Song Title</h2>
        <p id="artist-name">Artist Name</p>
    </div>
    <div class="controls">
        <button id="prev"><i class="fas fa-backward"></i></button>
        <button id="play-pause"><i class="fas fa-play"></i></button>
        <button id="next"><i class="fas fa-forward"></i></button>
    </div>
    <div class="time">
        <span id="current-time">0:00</span> / <span id="total-time">0:00</span>
    </div>
    <div class="progress-container">
        <input type="range" id="progress" value="0" max="100">
    </div>
</div>
<audio id="audio"></audio>
<script src="{% static 'app/js/main.js' %}"></script>
<script src="" async defer></script>
{% endblock home %}