{% extends 'app/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block register %}
<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="{% static 'app/images/img-login.jpg' %}" class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form method="POST" action="">
            {% csrf_token %}
            <!-- username input -->
            <div data-mdb-input-init class="form-outline mb-4">
              <label class="form-label" for="form3Example3">Username: </label>
              {% render_field form.username class="form-control form-control-lg" placeholder="Enter a valid username" %}
            </div>

            <!-- first name input -->
            <div data-mdb-input-init class="form-outline mb-4">
                <label class="form-label" for="form3Example3">First Name: </label>
                {% render_field form.first_name class="form-control form-control-lg" placeholder="Enter a valid first name" %}
            </div>

            <!-- last name input -->
            <div data-mdb-input-init class="form-outline mb-4">
                <label class="form-label" for="form3Example3">Last Name: </label>
                {% render_field form.last_name class="form-control form-control-lg" placeholder="Enter a valid last name" %}
            </div>
  
            <!-- Password input -->
            <div data-mdb-input-init class="form-outline mb-3">
              <label class="form-label" for="form3Example4">Password: </label>
              {% render_field form.password1 class="form-control form-control-lg" placeholder="Enter a valid password" %}
            </div>

            <!-- Password input -->
            <div data-mdb-input-init class="form-outline mb-3">
                <label class="form-label" for="form3Example4">Enter Password: </label>
                {% render_field form.password2 class="form-control form-control-lg" placeholder="Enter a valid enter password" %}
              </div>
  
            <div class="d-flex justify-content-between align-items-center">
              <!-- Checkbox -->
              <div class="form-check mb-0">
                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                <label class="form-check-label" for="form2Example3">
                  Remember me
                </label>
              </div>
              <a href="#!" class="text-body">Forgot password?</a>
            </div>
  
            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem;" >Register</button>
              <p class="small fw-bold mt-2 pt-1 mb-0">Do have an account? <a href="{% url 'login' %}"
                  class="link-danger">Login</a></p>
            </div>
            {% if form.errors %}
                <ul>
                    {% for field, errors in form.errors.items %}
                        {% for error in errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            {% endif %}
          </form>
        </div>
      </div>
    </div>
</section>
{% endblock register %}